body
  font-size: 1.6rem
  font-family: $f-text

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
  position: relative
  margin-bottom: .5em
  line-height: 1.2
  color: $c-brand

h1, .h1
  font-size: 6.2rem

h2, .h2
  font-size: 3.2rem

h3, .h3
  font-size: 2.6rem

h4, .h4
  font-size: 1.8rem

h5, .h5
  font-size: 1.4rem

p
  margin-bottom: 1em
  color: $c-black

  &:last-child
    margin-bottom: 0

ul
  li


.--font-400
  font-weight: 400 !important

.--font-700
  font-weight: 700 !important