// text
  
$f-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

$f-text: Roboto, $f-system
$f-display: $f-text

// breakpoints

$desktop-xl: 1280px
$desktop: 1140px
$tablet: 992px
$mobile: 768px
$mobile-xs: 576px

// layout

$header-height: 6rem

// transitions

$base-time: .12s

$transition-micro: $base-time ease-in-out
$transition-default: $base-time * 2 ease-in-out
$transition-long: $base-time * 4 ease-in-out

// colors

$c-brand: #d13535

$c-black: #131010

$c-gray: #979797

$c-border: $c-gray

// styles

$s-radius: .4rem

$s-shadow: none



