{% set half_entries = (data|length / 2)|round %}


<section class="section features{{ classes ? " #{ classes }" }}">

  <div class="features__canvas">
    <div class="features__row d-flex">
      {% for entry in data|slice(1, half_entries) %}
        <div class="features__entry">
          <h2 class="h1">{{ entry.entry }}</h2>
        </div>
      {% endfor %}
    </div>

    <div class="features__row d-flex">
      {% for entry in data|slice(half_entries, data|length) %}
        <div class="features__entry">
          <h2 class="h1">{{ entry.entry }}</h2>
        </div>
      {% endfor %}
    </div>
  </div>

</section>
