<section class="section hero{{ classes ? " #{ classes }" }}">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-7">
        
      </div>

    </div>
  </div>

</section>