{% extends "base.twig" %}

{% block content %}
	<h2>{{ title }}</h2>
	{% for post in posts %}
    {{ post.title }}
    {{ post.content }}
	{% endfor %}
	
	{% include 'component/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
