<header class="header">
  <div class="header__inner">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-auto">
          <a href="{{ site.link }}" class="logo">Logo</a>
        </div>
        <div class="col-auto">
          {% include "component/menu.twig" %}
        </div>
      </div>
    </div>
  </div>
</header>